In [50]:
import numpy as np
import pandas as pd
import ast

In [51]:
movie = pd.read_csv("movies.csv")
movie

         budget                                             genres  ... vote_average  vote_count
0     237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...  ...          7.2       11800
1     300000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...  ...          6.9        4500
2     245000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...  ...          6.3        4466
3     250000000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...  ...          7.6        9106
4     260000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...  ...          6.1        2124
...         ...                                                ...  ...          ...         ...
4798     220000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...  ...          6.6         238
4799       9000  [{"id": 35, "name": "Comedy"}, {"id": 10749, "...  ...          5.9           5
4800          0  [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...  ...          7.0           6
4801          0                                                 []  ...          5.7           7
4802          0                [{"id": 99, "name": "Documentary"}]  ...          6.3          16

[4803 rows x 20 columns]

In [52]:
credit = pd.read_csv("credits.csv")
credit

      movie_id  ...                                               crew
0        19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1          285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2       206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3        49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4        49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...
...        ...  ...                                                ...
4798      9367  ...  [{"credit_id": "52fe44eec3a36847f80b280b", "de...
4799     72766  ...  [{"credit_id": "52fe487dc3a368484e0fb013", "de...
4800    231617  ...  [{"credit_id": "52fe4df3c3a36847f8275ecf", "de...
4801    126186  ...  [{"credit_id": "52fe4ad9c3a368484e16a36b", "de...
4802     25975  ...  [{"credit_id": "58ce021b9251415a390165d9", "de...

[4803 rows x 4 columns]

In [53]:
movie = movie.merge(credit,on="title")
movie

         budget  ...                                               crew
0     237000000  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1     300000000  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2     245000000  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3     250000000  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     260000000  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...
...         ...  ...                                                ...
4804     220000  ...  [{"credit_id": "52fe44eec3a36847f80b280b", "de...
4805       9000  ...  [{"credit_id": "52fe487dc3a368484e0fb013", "de...
4806          0  ...  [{"credit_id": "52fe4df3c3a36847f8275ecf", "de...
4807          0  ...  [{"credit_id": "52fe4ad9c3a368484e16a36b", "de...
4808          0  ...  [{"credit_id": "58ce021b9251415a390165d9", "de...

[4809 rows x 23 columns]

In [54]:
movie.tail(1)

      budget  ...                                               crew
4808       0  ...  [{"credit_id": "58ce021b9251415a390165d9", "de...

[1 rows x 23 columns]

In [55]:
movie = movie[["keywords","title","movie_id","cast","crew","overview","genres"]]
movie

                                               keywords  ...                                             genres
0     [{"id": 1463, "name": "culture clash"}, {"id":...  ...  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1     [{"id": 270, "name": "ocean"}, {"id": 726, "na...  ...  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2     [{"id": 470, "name": "spy"}, {"id": 818, "name...  ...  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3     [{"id": 849, "name": "dc comics"}, {"id": 853,...  ...  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4     [{"id": 818, "name": "based on novel"}, {"id":...  ...  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
...                                                 ...  ...                                                ...
4804  [{"id": 5616, "name": "united states\u2013mexi...  ...  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4805                                                 []  ...  [{"id": 35, "name": "Comedy"}, {"id": 10749, "...
4806  [{"id": 248, "name": "date"}, {"id": 699, "nam...  ...  [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
4807                                                 []  ...                                                 []
4808  [{"id": 1523, "name": "obsession"}, {"id": 224...  ...                [{"id": 99, "name": "Documentary"}]

[4809 rows x 7 columns]

In [56]:
movie.isnull().sum()

keywords    0
title       0
movie_id    0
cast        0
crew        0
overview    3
genres      0
dtype: int64

In [57]:
movie.dropna(inplace = True)

C:\Users\poornima kulkarni\AppData\Local\Temp\ipykernel_18732\2067807804.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie.dropna(inplace = True)

In [58]:
movie.duplicated().sum()

np.int64(0)

In [59]:
movie.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [60]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [61]:
movie['genres'] = movie['genres'].apply(convert)

C:\Users\poornima kulkarni\AppData\Local\Temp\ipykernel_18732\3214482351.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['genres'] = movie['genres'].apply(convert)

In [62]:
movie.head()

                                            keywords  ...                                         genres
0  [{"id": 1463, "name": "culture clash"}, {"id":...  ...  [Action, Adventure, Fantasy, Science Fiction]
1  [{"id": 270, "name": "ocean"}, {"id": 726, "na...  ...                   [Adventure, Fantasy, Action]
2  [{"id": 470, "name": "spy"}, {"id": 818, "name...  ...                     [Action, Adventure, Crime]
3  [{"id": 849, "name": "dc comics"}, {"id": 853,...  ...               [Action, Crime, Drama, Thriller]
4  [{"id": 818, "name": "based on novel"}, {"id":...  ...           [Action, Adventure, Science Fiction]

[5 rows x 7 columns]

In [63]:
movie['keywords'] = movie['keywords'].apply(convert)

C:\Users\poornima kulkarni\AppData\Local\Temp\ipykernel_18732\2057402629.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['keywords'] = movie['keywords'].apply(convert)

In [64]:
movie.head()

                                            keywords  ...                                         genres
0  [culture clash, future, space war, space colon...  ...  [Action, Adventure, Fantasy, Science Fiction]
1  [ocean, drug abuse, exotic island, east india ...  ...                   [Adventure, Fantasy, Action]
2  [spy, based on novel, secret agent, sequel, mi...  ...                     [Action, Adventure, Crime]
3  [dc comics, crime fighter, terrorist, secret i...  ...               [Action, Crime, Drama, Thriller]
4  [based on novel, mars, medallion, space travel...  ...           [Action, Adventure, Science Fiction]

[5 rows x 7 columns]

In [65]:
def convert3(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name'])
            counter += 1
        else:
            break
    return L

In [66]:
movie['cast'] = movie['cast'].apply(convert3)

C:\Users\poornima kulkarni\AppData\Local\Temp\ipykernel_18732\1576314114.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['cast'] = movie['cast'].apply(convert3)

In [67]:
movie.head()

                                            keywords  ...                                         genres
0  [culture clash, future, space war, space colon...  ...  [Action, Adventure, Fantasy, Science Fiction]
1  [ocean, drug abuse, exotic island, east india ...  ...                   [Adventure, Fantasy, Action]
2  [spy, based on novel, secret agent, sequel, mi...  ...                     [Action, Adventure, Crime]
3  [dc comics, crime fighter, terrorist, secret i...  ...               [Action, Crime, Drama, Thriller]
4  [based on novel, mars, medallion, space travel...  ...           [Action, Adventure, Science Fiction]

[5 rows x 7 columns]

In [68]:
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [69]:
movie['crew'] = movie['crew'].apply(fetch_director)

C:\Users\poornima kulkarni\AppData\Local\Temp\ipykernel_18732\634439933.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['crew'] = movie['crew'].apply(fetch_director)

In [70]:
movie.head()

                                            keywords  ...                                         genres
0  [culture clash, future, space war, space colon...  ...  [Action, Adventure, Fantasy, Science Fiction]
1  [ocean, drug abuse, exotic island, east india ...  ...                   [Adventure, Fantasy, Action]
2  [spy, based on novel, secret agent, sequel, mi...  ...                     [Action, Adventure, Crime]
3  [dc comics, crime fighter, terrorist, secret i...  ...               [Action, Crime, Drama, Thriller]
4  [based on novel, mars, medallion, space travel...  ...           [Action, Adventure, Science Fiction]

[5 rows x 7 columns]

In [71]:
movie['overview'] = movie['overview'].apply(lambda x:x.split())

C:\Users\poornima kulkarni\AppData\Local\Temp\ipykernel_18732\4054897979.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['overview'] = movie['overview'].apply(lambda x:x.split())

In [72]:
movie.head()

                                            keywords  ...                                         genres
0  [culture clash, future, space war, space colon...  ...  [Action, Adventure, Fantasy, Science Fiction]
1  [ocean, drug abuse, exotic island, east india ...  ...                   [Adventure, Fantasy, Action]
2  [spy, based on novel, secret agent, sequel, mi...  ...                     [Action, Adventure, Crime]
3  [dc comics, crime fighter, terrorist, secret i...  ...               [Action, Crime, Drama, Thriller]
4  [based on novel, mars, medallion, space travel...  ...           [Action, Adventure, Science Fiction]

[5 rows x 7 columns]

In [73]:
movie['genres'] = movie['genres'].apply(lambda x:[i.replace(" ","_") for i in x])
movie['keywords'] = movie['keywords'].apply(lambda x:[i.replace(" ","_") for i in x])
movie['cast'] = movie['cast'].apply(lambda x:[i.replace(" ","_") for i in x])
movie['crew'] = movie['crew'].apply(lambda x:[i.replace(" ","_") for i in x])

C:\Users\poornima kulkarni\AppData\Local\Temp\ipykernel_18732\3169001535.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['genres'] = movie['genres'].apply(lambda x:[i.replace(" ","_") for i in x])
C:\Users\poornima kulkarni\AppData\Local\Temp\ipykernel_18732\3169001535.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['keywords'] = movie['keywords'].apply(lambda x:[i.replace(" ","_") for i in x])
C:\Users\poornima kulkarni\AppData\Local\Temp\ipykernel_18732\3169001535.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['cast'] = movie['cast'].apply(lambda x:[i.replace(" ","_") for i in x])
C:\Users\poornima kulkarni\AppData\Local\Temp\ipykernel_18732\3169001535.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['crew'] = movie['crew'].apply(lambda x:[i.replace(" ","_") for i in x])

In [74]:
movie.head()

                                            keywords  ...                                         genres
0  [culture_clash, future, space_war, space_colon...  ...  [Action, Adventure, Fantasy, Science_Fiction]
1  [ocean, drug_abuse, exotic_island, east_india_...  ...                   [Adventure, Fantasy, Action]
2  [spy, based_on_novel, secret_agent, sequel, mi...  ...                     [Action, Adventure, Crime]
3  [dc_comics, crime_fighter, terrorist, secret_i...  ...               [Action, Crime, Drama, Thriller]
4  [based_on_novel, mars, medallion, space_travel...  ...           [Action, Adventure, Science_Fiction]

[5 rows x 7 columns]

In [75]:
movie['tags'] = movie['genres'] + movie['keywords'] + movie['overview'] + movie['cast'] + movie['crew']

C:\Users\poornima kulkarni\AppData\Local\Temp\ipykernel_18732\876242630.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['tags'] = movie['genres'] + movie['keywords'] + movie['overview'] + movie['cast'] + movie['crew']

In [76]:
movie.head()

                                            keywords  ...                                               tags
0  [culture_clash, future, space_war, space_colon...  ...  [Action, Adventure, Fantasy, Science_Fiction, ...
1  [ocean, drug_abuse, exotic_island, east_india_...  ...  [Adventure, Fantasy, Action, ocean, drug_abuse...
2  [spy, based_on_novel, secret_agent, sequel, mi...  ...  [Action, Adventure, Crime, spy, based_on_novel...
3  [dc_comics, crime_fighter, terrorist, secret_i...  ...  [Action, Crime, Drama, Thriller, dc_comics, cr...
4  [based_on_novel, mars, medallion, space_travel...  ...  [Action, Adventure, Science_Fiction, based_on_...

[5 rows x 8 columns]

In [77]:
new_df = movie[['movie_id','title','tags']]
new_df

      movie_id                                     title                                               tags
0        19995                                    Avatar  [Action, Adventure, Fantasy, Science_Fiction, ...
1          285  Pirates of the Caribbean: At World's End  [Adventure, Fantasy, Action, ocean, drug_abuse...
2       206647                                   Spectre  [Action, Adventure, Crime, spy, based_on_novel...
3        49026                     The Dark Knight Rises  [Action, Crime, Drama, Thriller, dc_comics, cr...
4        49529                               John Carter  [Action, Adventure, Science_Fiction, based_on_...
...        ...                                       ...                                                ...
4804      9367                               El Mariachi  [Action, Crime, Thriller, united_statesâ€“mexico...
4805     72766                                 Newlyweds  [Comedy, Romance, A, newlywed, couple's, honey...
4806    231617                 Signed, Sealed, Delivered  [Comedy, Drama, Romance, TV_Movie, date, love_...
4807    126186                          Shanghai Calling  [When, ambitious, New, York, attorney, Sam, is...
4808     25975                         My Date with Drew  [Documentary, obsession, camcorder, crush, dre...

[4806 rows x 3 columns]

In [78]:
new_df["tags"] = new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\poornima kulkarni\AppData\Local\Temp\ipykernel_18732\4222936828.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["tags"] = new_df['tags'].apply(lambda x:" ".join(x))

In [79]:
new_df.head()

   movie_id                                     title                                               tags
0     19995                                    Avatar  Action Adventure Fantasy Science_Fiction cultu...
1       285  Pirates of the Caribbean: At World's End  Adventure Fantasy Action ocean drug_abuse exot...
2    206647                                   Spectre  Action Adventure Crime spy based_on_novel secr...
3     49026                     The Dark Knight Rises  Action Crime Drama Thriller dc_comics crime_fi...
4     49529                               John Carter  Action Adventure Science_Fiction based_on_nove...

In [80]:
new_df["tags"] = new_df["tags"].apply(lambda x:x.lower())

C:\Users\poornima kulkarni\AppData\Local\Temp\ipykernel_18732\3481706753.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["tags"] = new_df["tags"].apply(lambda x:x.lower())

In [81]:
new_df.head()

   movie_id                                     title                                               tags
0     19995                                    Avatar  action adventure fantasy science_fiction cultu...
1       285  Pirates of the Caribbean: At World's End  adventure fantasy action ocean drug_abuse exot...
2    206647                                   Spectre  action adventure crime spy based_on_novel secr...
3     49026                     The Dark Knight Rises  action crime drama thriller dc_comics crime_fi...
4     49529                               John Carter  action adventure science_fiction based_on_nove...

In [82]:
!pip install nltk

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nltk in c:\users\poornima kulkarni\appdata\roaming\python\python313\site-packages (3.9.1)
Requirement already satisfied: click in c:\users\poornima kulkarni\appdata\roaming\python\python313\site-packages (from nltk) (8.1.8)
Requirement already satisfied: joblib in c:\users\poornima kulkarni\appdata\roaming\python\python313\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\poornima kulkarni\appdata\roaming\python\python313\site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in c:\users\poornima kulkarni\appdata\roaming\python\python313\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in c:\users\poornima kulkarni\appdata\roaming\python\python313\site-packages (from click->nltk) (0.4.6)

In [83]:
import nltk

In [84]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [85]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [86]:
new_df['tags'].apply(stem)

0       action adventur fantasi science_fict culture_c...
1       adventur fantasi action ocean drug_abus exotic...
2       action adventur crime spi based_on_novel secre...
3       action crime drama thriller dc_comic crime_fig...
4       action adventur science_fict based_on_novel ma...
                              ...
4804    action crime thriller united_statesâ€“mexico_bar...
4805    comedi romanc a newlyw couple' honeymoon is up...
4806    comedi drama romanc tv_movi date love_at_first...
4807    when ambiti new york attorney sam is sent to s...
4808    documentari obsess camcord crush dream_girl ev...
Name: tags, Length: 4806, dtype: object

In [87]:
from sklearn.feature_extraction.text import CountVectorizer

In [88]:
cv = CountVectorizer(max_features = 5000, stop_words = 'english')

In [89]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [90]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], shape=(4806, 5000))

In [91]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooey_deschanel'],
      shape=(5000,), dtype=object)

In [92]:
from sklearn.metrics.pairwise import cosine_similarity

In [93]:
similarity = cosine_similarity(vectors)
similarity

array([[1.        , 0.08964215, 0.05976143, ..., 0.02548236, 0.02817181,
        0.        ],
       [0.08964215, 1.        , 0.0625    , ..., 0.02665009, 0.        ,
        0.        ],
       [0.05976143, 0.0625    , 1.        , ..., 0.02665009, 0.        ,
        0.        ],
       ...,
       [0.02548236, 0.02665009, 0.02665009, ..., 1.        , 0.07537784,
        0.04828045],
       [0.02817181, 0.        , 0.        , ..., 0.07537784, 1.        ,
        0.05337605],
       [0.        , 0.        , 0.        , ..., 0.04828045, 0.05337605,
        1.        ]], shape=(4806, 4806))

In [101]:
new_df

      movie_id                                     title                                               tags
0        19995                                    Avatar  action adventure fantasy science_fiction cultu...
1          285  Pirates of the Caribbean: At World's End  adventure fantasy action ocean drug_abuse exot...
2       206647                                   Spectre  action adventure crime spy based_on_novel secr...
3        49026                     The Dark Knight Rises  action crime drama thriller dc_comics crime_fi...
4        49529                               John Carter  action adventure science_fiction based_on_nove...
...        ...                                       ...                                                ...
4804      9367                               El Mariachi  action crime thriller united_statesâ€“mexico_bar...
4805     72766                                 Newlyweds  comedy romance a newlywed couple's honeymoon i...
4806    231617                 Signed, Sealed, Delivered  comedy drama romance tv_movie date love_at_fir...
4807    126186                          Shanghai Calling  when ambitious new york attorney sam is sent t...
4808     25975                         My Date with Drew  documentary obsession camcorder crush dream_gi...

[4806 rows x 3 columns]

In [104]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate(distances)),reverse = True,key = lambda x:x[1])[1:6]

    for i in movie_list:
        print(new_df.iloc[i[0]].title)

In [105]:
recommend('Avatar')

Titan A.E.
Small Soldiers
Independence Day
Ender's Game
Aliens vs Predator: Requiem